<div style="max-width: 20rem;">
  <div>
      <div>
          <div>
              Category: {{ concept.category.name }}
          </div>
          <div>
              Status: {{ concept.status }}
          </div>
      </div>
      <hr>
      <div>Author: MISTER X</div>
  </div>
    <div>
        <h4>{{ concept.title|truncatechars:50 }}</h4>
        <p>Created: {{ concept.created|date:"Y-M-d" }}</p>
        <p>Published: {{ concept.pub_date|date:"Y-M-d" }}</p>
        <p>{% autoescape off %}{{ concept.description|truncatechars:300 }}{% endautoescape %}</p>
        <p>{{ concept.backers_counter }} backers funded {{ concept.funded }}% of the project</p>
        <div>
            <div style="width:{{ concept.funded }}%;"
                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            {{ concept.pledge }}$ / {{ concept.goal }}$
            </div>
        </div>
        <hr>
        <h4>{{ concept.get_days_left }} days to go</h4>
        <hr>
        <button onclick="window.location='{% url 'concepts_storage_app:details' slug=concept.slug %}'">
            View Detail
        </button>
    </div>
</div>