{% extends 'concepts_storage_app/base.html' %}
{% load static %}
{% block title %}About us{% endblock %}
{% block content %}
<div class="banner">
    <img src="{% static 'concepts_storage_app/img/bannerabout.png' %}" alt="">
</div>
<section class="about-us">
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs TabsManager" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active text-uppercase" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">What is EasyStarter?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">How does it work?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" id="about-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">About crowdfunding</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" id="question-tab" data-toggle="tab" href="#question" role="tab" aria-controls="contact" aria-selected="false">Questions and answers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" id="our-tab" data-toggle="tab" href="#our" role="tab" aria-controls="contact" aria-selected="false">Our rules</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p>
                        EasyStarter is a funding platform for creative projects. Everything from films, games, and music to art, design, and technology.
                        EasyStarter is full of ambitious, innovative, and imaginative ideas that are brought to life through the direct support of others.
                        Everything on EasyStarter must be a project with a clear goal, like making an album, a book, or a work of art.
                        A project will eventually be completed, and something will be produced by it.
                    </p>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <p>
                        Entrepreneur Services
                        From concept to market, EasyStarter is here to help.
                        More than a crowdfunding platform, EasyStarter offers services and resources from key partners to empower entrepreneurs throughout the life of their project.
                    </p>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="about-tab">
                    <p>
                        Crowdfunding on EasyStarter empowers people to unite around the ideas that matter to them, and together make those ideas come to life.
                        Whether you're searching for the latest in tech, supporting your favorite independent filmmaker, or helping an important cause, you can find something that inspires you on EasyStarter.
                        Crowdfunding generates exciting opportunities for backers and entrepreneurs alike, but there are some basic facts that all backers should know.
                    </p>
                    <p>
                        It is important to understand that backing a campaign and claiming a perk are not the same as buying an item online.
                        Instead, supporting a crowdfunding idea on a platform like EasyStarter means you are helping a work-in-progress project, idea or cause. We want to let our community dream big, so we don't have criteria for what kind of project can become an EasyStarter campaign, other than what's outlined in our Terms of Use.
                    </p>
                </div>
                <div class="tab-pane fade" id="question" role="tabpanel" aria-labelledby="question-tab">
                    <p>
                        How do I start a project?
                        Anyone that meets our creator requirements is eligible to launch a project on EasyStarter.
                        Just head to our start page to begin building your project. You can find tips on structuring and running your project in our Resources Compendium, and refer to our rules to make sure your project idea is a good fit. Meanwhile, feel free to save your project as a draft and return to finish it up or submit it for review at a later date.
                        What information should I share on my project page?
                        After visiting your project page backers should have a clear sense of:

    - Your budget, and how you plan to use your funds.
    - Your story. Let your backers know what brought you to EasyStarter.
    - The progress you’ve made so far. How far along is your project?
    - How you plan on doing so
    - What it is you are trying to create

    The more information you share, the more confident your backers will be in pledging to your project.


I forgot my password, how do I log in?

Click the 'Forgot?' link on the login page to request a password reset. Just input the email address associated with your account and we'll send you an email with a link to reset your password.
                    </p>
                </div>
                <div class="tab-pane fade" id="our" role="tabpanel" aria-labelledby="our-tab">
                    <p>
                        We welcome and support projects from a variety of categories: Movie, Design, Food, Theater, IT, Music, Printing, Games, Technology, Ecology, Design, Photography, Art, Fashion, Sport and IInnovation.
                        Next rules every EasyStarter project must follow.
                        Projects must create something to share with others.

                        EasyStarter can be used to create all sorts of things: art and gadgets, events and spaces, ideas and experiences. But every project needs a plan for creating something and sharing it with the world. At some point, the creator should be able to say: “It’s finished. Here’s what we created. Enjoy!”

                        Projects must be honest and clearly presented.

                        Our community is built on trust and communication. Projects can’t mislead people or misrepresent facts, and creators should be candid about what they plan to accomplish. When a project involves manufacturing and distributing something complex, like a gadget, we require projects to show backers a prototype of what they’re making, and we prohibit photorealistic renderings.
                        Projects can’t fundraise for charity.

                        While nonprofits are welcome to launch projects on EasyStarter, projects can't promise to raise funds to donate to a charity or cause. Funds raised on EasyStarter must go towards facilitating the project outlined by the creator on the project page.
                        Projects can't offer equity.

                        Investment is not permitted on EasyStarter. Projects can't offer incentives like equity, revenue sharing, or investment opportunities.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}