<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>EasyStarter</title>
    {% block head %}
    {% endblock %}
</head>
<header>
        <nav>
          <div>
              <ul>
                  <li>
                    <a href="#">ABOUT</a>
                  </li>
                  <li>
                    <a href="#">SUPPORT</a>
                  </li>
              </ul>
              <form>
                  <input placeholder="Search" type="text">
                  <button type="submit">Search</button>
              </form>
              <ul>
                  <li>
                    <a href="#">SIGN IN</a>
                  </li>
                  <li>
                    <a href="#">SIGN UP</a>
                  </li>
              </ul>
          </div>
        </nav>
        <div>
            <h1> Welcome to EasyStarter!</h1>
            <p>We are the community who helps to implement your ideas in real life</p>
            <p>We create the future together</p>
            <hr>
            <p>We help change the world</p>
            <p>
            <a href="#" role="button">Click here to learn more</a>
            </p>
            <button onclick="window.location='{% url 'concepts_storage_app:add_concept' %}'"
                    type="button" >START PROJECT
            </button>
        </div>
        {% block header %}
        {% endblock %}
        <div>
            <h4>Tags:</h4>
            {% for keyword in keywords %}
                <a href="{% url 'concepts_storage_app:keywords' id=keyword.id %}">{{ keyword }} </a>
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
</header>
<body>
    {% block content %}
    {% endblock %}
</body>
<footer>
    {% block footer %}
    {% endblock %}
</footer>
</html>