{% extends 'concepts_storage_app/base.html' %}
{% load static %}
{% block title %}Contacts{% endblock %}
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}
{% block content %}
    <section id="TemplateContact">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <h3 class="Title">Contacts</h3>
                <img class="secondImg" src="{% static 'concepts_storage_app/img/img-1.jpg' %}" alt="">
                <p class="Text">If you have any questions - contact us</p>
                <p class="Text">Manager will contact you in person during business hours</p>
                <p class="Text">
                    <img src="{% static 'concepts_storage_app/img/email.png' %}" alt="Email" title="Email">
                    <span>info@easystarter.com.ua</span>
                </p>
                <p class="Text">
                    <img src="{% static 'concepts_storage_app/img/telegram.png' %}" alt="Telegram" title="Telegram">
                    <a href="https://telegram.me/<USERNAME>">Telegram</a>
                    <!--
                    Еще пару возможных вариантов перехода в телеграмм
                        <a href="https://telegram.me/share/url?url=<URL>&text=<TEXT>">Telegram</a>
                        <a title="Telegram" href="tg://resolve?domain=nikname">Telegram</a>
                    -->
                </p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <h3 class="Title">Contact form</h3>
                <form class="form-From-Contact" action="{% url 'concepts_storage_app:send_message' %}" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <div class="form-group button"><button type="submit" class="btn btn-primary Send">Send</button></div>
                </form>
            </div>
        </div>
    </div>
    </section>
{% endblock %}