{% extends 'concepts_storage_app/base.html' %}
{% load static %}
{% block title %}{{ concept.title| truncatewords:3 }}{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<section class="project-author">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="wrapper-author-01">
                    <h1 class="Title01 text-left text-uppercase">{{ concept.title}}</h1>
                    <p class="author-line">
                        <span>Lorem</span>
                    </p>
                    <p class="position"><span>Author</span></p>
                    <div class="margin-bottom">Preview</div>
                    <p>Created: {{ concept.created|date:"Y-M-d" }}</p>
                    <p>Published: {{ concept.pub_date|date:"Y-M-d" }}</p>
                    <p class="text-right"><a href="{% url 'concepts_storage_app:index' %}" class="buttonPrm">Go Back</a></p>
                </div>
                <div class="wrapper-author-02 d-flex">
                    <div class="col-md-5 col-xs-12">
                        <div class="row">
                            <p class="visitors">
                                <img src="{% static 'concepts_storage_app/img/people.png' %}" alt="">
                                <span>{{ concept.backers_counter }} backers funded {{ concept.funded }}% of the project</span>
                            </p>
                            <p class="times">
                                <img src="{% static 'concepts_storage_app/img/time.png' %}" alt="">
                                <span>{{ concept.get_days_left }} days to go</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-7 col-xs-12">
                        <div class="row">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width:{{ concept.funded }}%">
                                    <span class="title">{{ concept.pledge }}$ / {{ concept.goal }}$</span>
                                </div>
                            </div>
                            <div class="row-wrapper d-flex justify-content-between">
                                <button onclick="window.location='{% url 'concepts_storage_app:index' %}'"
                                        type="submit" class="btn btn-primary buttonPrm"><span>Explore</span></button>
                                <button onclick="window.location='{% url 'concepts_storage_app:add_concept' %}'"
                                        type="submit" class="btn btn-primary buttonPrm"><span>Start project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-author-03">
                    {% autoescape off %}{{ concept.description}}{% endautoescape %}
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <img src="{% static 'concepts_storage_app/img/img.png' %}"  class="width-100" alt="">
                <div class="sidebar">
                    <h3 class="text-right text-uppercase">Rewards</h3>
                    <div class="wrapper-author-04">
                        <div class="block-wrapper">
                            <h4 class="text-uppercase">Reward Lev.1</h4>
                            <p>Pledge $10 or more</p>
                            <br>
                            <p>Get a sticker</p>
                            <br>
                            <p>Get the sticker with the company logo</p>
                        </div>
                        <div class="block-wrapper">
                            <h4 class="text-uppercase">Reward Lev.2</h4>
                            <p>Pledge $25 or more</p>
                            <p>Get a keychain</p>
                            <p>Get the keychain with the company logo</p>
                        </div>
                        <div class="block-wrapper">
                            <h4 class="text-uppercase">Reward Lev.3</h4>
                            <p>Pledge $50 or more</p>
                            <br>
                            <p>Get a bag</p>
                            <br>
                            <p>Get the bag with the company logo</p>
                        </div>
                        <div class="block-wrapper">
                            <h4 class="text-uppercase">Reward Lev.4</h4>
                            <p>Pledge $75 or more</p>
                            <br>
                            <p>Get a secret box</p>
                            <br>
                            <p>Get the special box with a lot of things from the company</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

