{% extends 'concepts_storage_app/base.html' %}
{% block title %}Start Project{% endblock %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <div>
        <form action="{% url 'concepts_storage_app:add_concept' %}" method="POST">
            {% csrf_token %}
            {{ form.media }}
            <fieldset>
                <div id="TemplateForm">
                <div class="container">
                    <div class="row">
                        <h1 class="MainTitle text-center"><span>Create Project</span></h1>
                    </div>
                        <div class="button-block-form text-center">
                            <button class="btn btn-primary buttonPrm" onclick="window.location='{% url 'concepts_storage_app:index' %}'">
                                <span>GO BACK</span>
                            </button>
                        </div>
                <div class="row row01">
                    <div class="col-md-3 col-xs-12">
                        <label for="{{ form.title.id_for_label }}">Project Name:</label>
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <span class="input-style">{{ form.title }}</span>
                    </div>
                </div>
                    <div>{{ form.title.errors }}</div>
                <div class="row row02">
                    {{ form.description.errors }}
                    <div class="col-md-3 col-xs-12">
                        <label for="{{ form.description.id_for_label }}">Description: </label>
                    </div>
                    <div class="col-md-9 col-xs-12">
                        {{ form.description }}
                    </div>
                </div>
                 <div class="row row03">
                     {{ form.category.errors }}
                     <div class="col-md-3 col-xs-12">
                        <label for="{{ form.category.id_for_label }}">Category:</label>
                     </div>
                     <div class="col-md-9 col-xs-12">
                         {{ form.category }}
                     </div>
                </div>
               <div class="row row04">
                    {{ form.pub_date.errors }}
                   <div class="col-md-3 col-xs-12">
                    <label for="{{ form.pub_date.id_for_label }}">Date of publication: </label>
                   </div>
                   <div class="col-md-9 col-xs-12">
                        {{ form.pub_date }}
                        <script>
                            $('#datepicker').datepicker({
                                uiLibrary: 'bootstrap4'
                            });
                        </script>
                   </div>
                </div>
                <div class="row row05">
                    {{ form.goal.errors }}
                     <div class="col-md-3 col-xs-12">
                        <label class="{{ form.goal.id_for_label }}">Goal:</label>
                     </div>
                    <div class="col-md-9 col-xs-12">
                      <p>
                        <span>$</span>
                          <span class="input-style">{{ form.goal }}</span>
                        <span>.00</span>
                      </p>
                        <div>
                            {{ form.days_to_go }}
                        </div>
                        <div>
                            <p>{{ form.days_to_go.errors }}</p>
                        </div>

                    </div>
                </div>

                    <p class="text-center"><button class="btn btn-primary buttonPrm" type="submit"><span>Start Project</span></button></p>

                </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}

