{% extends 'concepts_storage_app/base.html' %}
{% load static %}
{% block title %}Our Team{% endblock %}
{% block content %}
<div class="banner">
    <img src="{% static 'concepts_storage_app/img/teambanner.png' %}" alt="">
</div>
<section class="team">
    <div class="container">
        <div class="row">
            <h1 class="MainTitle text-center"><span>Lorem ipsum</span></h1>
            <div class="col-md-3 col-xs-12 teamBlock">
                <div class="team-img text-center">
                    <div class="team-img-wrapper">
                        <img src="{% static 'concepts_storage_app/img/manager.png' %}" alt="">
                    </div>
                </div>
                <h3 class="text-uppercase text-center">Ivanov Iivan</h3>
                <p class="position text-center"><span>Manager</span></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="col-md-3 col-xs-12 teamBlock">
                <div class="team-img text-center">
                    <div class="team-img-wrapper">
                        <img src="{% static 'concepts_storage_app/img/manager.png' %}" alt="">
                    </div>
                </div>
                <h3 class="text-uppercase text-center">Ivanov Iivan</h3>
                <p class="position text-center"><span>Manager</span></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="col-md-3 col-xs-12 teamBlock">
                <div class="team-img text-center">
                    <div class="team-img-wrapper">
                        <img src="{% static 'concepts_storage_app/img/manager.png' %}" alt="">
                    </div>
                </div>
                <h3 class="text-uppercase text-center">Ivanov Iivan</h3>
                <p class="position text-center"><span>Manager</span></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="col-md-3 col-xs-12 teamBlock">
                <div class="team-img text-center">
                    <div class="team-img-wrapper">
                        <img src="{% static 'concepts_storage_app/img/manager.png' %}" alt="">
                    </div>
                </div>
                <h3 class="text-uppercase text-center">Ivanov Iivan</h3>
                <p class="position text-center"><span>Manager</span></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
