{% extends 'concepts_storage_app/base.html' %}
{% load static %}
{% block title %}Our Team{% endblock %}
{% block content %}
<div class="banner">
    <img src="{% static 'concepts_storage_app/img/teambanner.png' %}" alt="">
</div>
<section class="team">
    <div class="container">
        <div class="row">
            <h1 class="MainTitle text-center"><span>Our Team</span></h1>
            <div class="col-md-3 col-xs-12 teamBlock">
                <div class="team-img text-center">
                    <div class="team-img-wrapper">
                        <img src="{% static 'concepts_storage_app/img/julia.png' %}" alt="">
                    </div>
                </div>
                <h3 class="text-uppercase text-center">Yuliia</br>Kulykova</h3>
                <p class="position text-center"><span>QA</span></p>
            </div>
            <div class="col-md-3 col-xs-12 teamBlock">
                <div class="team-img text-center">
                    <div class="team-img-wrapper">
                        <img src="{% static 'concepts_storage_app/img/ksucha.png' %}" alt="">
                    </div>
                </div>
                <h3 class="text-uppercase text-center">Oksana</br>Mashtalir</h3>
                <p class="position text-center"><span>QA</span></p>
            </div>
            <div class="col-md-3 col-xs-12 teamBlock">
                <div class="team-img text-center">
                    <div class="team-img-wrapper">
                        <img src="{% static 'concepts_storage_app/img/igor.png' %}" alt="">
                    </div>
                </div>
                <h3 class="text-uppercase text-center">Igor</br>Lysokon</h3>
                <p class="position text-center"><span>Frontend Developer</span></p>
            </div>
            <div class="col-md-3 col-xs-12 teamBlock">
                <div class="team-img text-center">
                    <div class="team-img-wrapper">
                        <img src="{% static 'concepts_storage_app/img/slava.png' %}" alt="">
                    </div>
                </div>
                <h3 class="text-uppercase text-center">Viacheslav</br>Khmelovskyi </h3>
                <p class="position text-center"><span>UI/UX engineer</span></p>
            </div>
            <div class="col-md-3 col-xs-12 teamBlock">
                <div class="team-img text-center">
                    <div class="team-img-wrapper">
                        <img src="{% static 'concepts_storage_app/img/max.png' %}" alt="">
                    </div>
                </div>
                <h3 class="text-uppercase text-center">Maksym</br>Fedotov</h3>
                <p class="position text-center"><span>C# Developer</span></p>
            </div>
            <div class="col-md-3 col-xs-12 teamBlock">
                <div class="team-img text-center">
                    <div class="team-img-wrapper">
                        <img src="{% static 'concepts_storage_app/img/dima.png' %}" alt="">
                    </div>
                </div>
                <h3 class="text-uppercase text-center">Dmitriy</br>Mamontov</h3>
                <p class="position text-center"><span>QA</span></p>
            </div>

            <div class="col-md-3 col-xs-12 teamBlock">
                <div class="team-img text-center">
                    <div class="team-img-wrapper">
                        <img src="{% static 'concepts_storage_app/img/zina.png' %}" alt="">
                    </div>
                </div>
                <h3 class="text-uppercase text-center">Zinoviy</br>Protsyna</h3>
                <p class="position text-center"><span>Backend Developer + DevOps</span></p>
            </div>
            <div class="col-md-3 col-xs-12 teamBlock">
                <div class="team-img text-center">
                    <div class="team-img-wrapper">
                        <img src="{% static 'concepts_storage_app/img/serg.png' %}" alt="">
                    </div>
                </div>
                <h3 class="text-uppercase text-center">Sergiy</br>Chumachenko</h3>
                <p class="position text-center"><span>Backend Developer + DevOps</span></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
