{% extends 'concepts_storage_app/base.html' %}
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <div class="container form-group">
        <form action="{% url 'concepts_storage_app:add_concept' %}" method="POST">
            {% csrf_token %}
            <fieldset>
                <div class="row">
                    <div class="col-md-10">
                        <legend>CREATE PROJECT</legend>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-secondary" onclick="window.location='{% url 'concepts_storage_app:index' %}'">
                            GO BACK
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"><label for="{{ form.title.id_for_label }}">Project Name:</label><br>{{ form.title }}</div>
                    <div class="col-sm-4">{{ form.title.errors }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"></div>
                    {{ form.description.errors }}
                    <label for="{{ form.description.id_for_label }}">Description: </label><br>{{ form.description }}
                </div>
                 <div class="form-group">
                     {{ form.category.errors }}
                      <label for="{{ form.category.id_for_label }}">Category:</label><br>{{ form.category }}
                </div>
                <div class="form-group">
                    {{ form.pub_date.errors }}
                    <label for="{{ form.pub_date.id_for_label }}">Date of publication: </label><br>
                    {{ form.pub_date }}
                    <script>
                        $('#datepicker').datepicker({
                            uiLibrary: 'bootstrap4'
                        });
                    </script>
                </div>
                <div class="form-group">
                    {{ form.goal.errors }}
                    <label class="{{ form.goal.id_for_label }}">Goal:</label>
                    <div class="form-group">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      {{ form.goal }}
                      <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.days_to_go }}
                        </div>
                        <div class="col-md-4">
                            <p class="text-danger">{{ form.days_to_go.errors }}</p>
                        </div>
                    </div>
                </div>
                <hr/>
                <button type="submit" class="btn btn-secondary">START PROJECT</button>
            </fieldset>
        </form>
    </div>
{% endblock %}

